.temp{
  margin-bottom: 1px
}

.updated{
  margin-bottom: 1px
}

.weather{
  background-color: lightgrey;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 30px
}

.conditions{
  margin-top: 1px;
  margin-bottom: 1px
}

.profile{
  background-color: #F96901;
  padding: 10px 30px
}

.profileText{
  color: #1C1C1C
}